@import url("https://cdn.rawgit.com/pyralix/grp/1cea9178/cfg/WAM.css");
@import url("https://cdn.rawgit.com/pyralix/grp/67645f9d/cfg/Staff.css");

/*
 ┌————————————————————┐
 │     Variables      │
 └————————————————————┘
*/
html {
    --cyan-gradient: linear-gradient(hsl(155,100%,58%), hsl(155,100%,53%));
    --seafoam-gradient: linear-gradient(hsl(183,100%,58%), hsl(183,100%,53%));
    --red-meh-gradient: linear-gradient(rgb(196, 46, 59), rgb(138, 34, 43));
    --woot-green-gradient: linear-gradient(rgb(37, 185, 97), rgb(24, 115, 61));
}

/* Adding stuff from the json in case it didn't loaded */
.icon-room {
    background: none;
    width: 75px !important;
}
.icon-room:before {
    content: '';
    display: block;
    width: 75px; height: 30px;

    background: url('https://cdn.rawgit.com/pyralix/grp/3b58d5f2/Images/WFTB-Logo.png') center center / 75px no-repeat;
}
#room-name, #room-host {
    left: 89px !important;
}

#playback .background img {
    display: none;
}/*
#playback .background {
    background: url('https://cdn.rawgit.com/pyralix/grp/75c9ac02/Images/WFTB-Playback.png') !important;
    width: 521px; height: 292px;
    left: -311px;
    background-size: cover !important;
}*/

.room-background {
    background-image: url('https://pictr.com/images/2017/07/28/a5Fgu.png') !important;
}

#room-name, #room-host, #now-playing-dj, #now-playing-media {
    color: #fff !important;
    font-weight: bold;
}


/*
 ┌————————————————————┐
 │    TRANSPARENCY    │
 └————————————————————┘
*/
#history-button, #rs-skip-button,
#waitlist .user,
#app-menu .list,
.badge-box,
.thumb .background{
    background: transparent !important;
}
.app-right,
.app-right .friends,
#dashboard,
#footer, #footer .info, #footer-user .buttons .button:hover,
#app-menu,
#user-rollover, #user-rollover .info {
    /* Most of them are temporary */
    background: rgba(0,0,0,.75) !important;
}
/*
 ┌————————————————————┐
 │   User-rollover    │
 └————————————————————┘
*/
/*user rollover arrow fix*/
#user-rollover.expand.chat .arrow-down {
    border-left: 8px solid rgba(0, 0, 0, 0.3) !important;
}
#user-rollover:not(.chat) .arrow-down {
    border-top: 8px solid rgba(0, 0, 0, 0.75) !important;
}
#user-lists .list .user:hover {
    background: rgba(0,0,0,.8) !important;
}
#user-rollover .action {
    background: hsla(138, 40%, 10%, 0.7);
    box-shadow: inset 0 0 0 1px hsla(100,40%,20%,.8) !important;
}
#user-rollover .action:hover {
    background: hsla(133, 40%, 30%, 0.8) !important;
    box-shadow:
        inset 0 0 0 2px hsla(100,40%,40%,.5),
        inset 0 0 0 1px hsla(100,40%,20%,.8) !important;
}
/*
 ┌————————————————————┐
 │      Tooltips      │
 └————————————————————┘
*/
#tooltip {display: none}
/*
 ┌————————————————————┐
 │ Chat related stuff │
 └————————————————————┘
*/
#header-panel-bar .selected {
    background: var(--seafoam-gradient) !important;
}
#header-panel-bar .selected i {
    filter: brightness(1.5) saturate(0);
}
#chat-header .divider,
#user-lists .header .divider {
    display: none;
}
/* Chat depth */
#chat .cm {
    background: rgba(0,0,0,.5);
    box-shadow: inset 1px 1px 0 rgba(0,0,0,.5);
}
#chat .cm:nth-child(2n+1) {
    background: rgba(20,20,20,.5);
    box-shadow: inset 1px 1px 0 hsla(0,0%,100%,.1);
}
#chat .cm .timestamp {
    color: hsl(120,5%,40%);
}
#chat .cm.welcome {
    color: #7A5;
}
#chat .moderation {
    background: linear-gradient(hsla(0, 0%, 15%, .8), hsla(0, 0%, 10%, .8)) !important;
    box-shadow: inset 0 0 0 1px hsla(0,0%,100%,.1) !important;
    color: #eee;
}
#chat .moderation .un,
#chat .moderation .timestamp {
    color: hsl(120, 40%, 60%) !important;
}
#chat .moderation .text {
    color: hsl(120, 40%, 50%) !important;
}
#chat .system {
    background: hsla(210,20%,20%,.8) !important;
    box-shadow: inset 0 0 1px #EEE !important;
}
/* Delete button */
#chat .delete-button {
    background: linear-gradient(hsl(100,30%,20%), hsl(100,30%,15%));
    box-shadow: inset 0 0 0 1px hsl(100,30%,40%);
    border-radius: 4px;
    color: hsl(100,30%,40%);
    transition: all .25s ease-in-out;
}
#chat .delete-button:hover {
    background: linear-gradient(hsl(100,30%,50%), hsl(100,30%,40%));
    box-shadow: inset 0 0 0 1px hsl(100,30%,70%);
    color: hsl(100,30%,70%);
}
/* Chat text box */
#chat-input {
    background: linear-gradient(hsla(120,30%,10%,.8), hsla(120,30%,15%,.8));
    box-shadow: inset 0 0 0 1px hsla(120,30%,20%,.8), transparent;
    transition: all .25s ease-in-out;
}
#chat-input.focused {
    background: linear-gradient(hsla(120,50%,20%,.8), hsla(120,50%,25%,.8)) !important;
    box-shadow:
        inset 0 0 0 1px hsla(120,50%,40%,.8),
        0 0 5px 1px hsla(120,50%,40%,.8) !important;
}
#chat-input-field::-webkit-input-placeholder {
    color: #252;
}
:-moz-placeholder {
    color: #252;
    opacity:  1;
}
::-moz-placeholder {
    color: #252;
    opacity:  1;
}
:-ms-input-placeholder {
    color: #252;
}
/* Bans & mute panel */
#user-lists .list.bans .user .label,
#user-lists .list.mutes .user .label {
    color: #5A7;
}
#user-lists .list.bans .user .moderator,
#user-lists .list.mutes .user .moderator {
    color: #C62;
}
#user-lists .list.bans .user .timestamp,
#user-lists .list.mutes .user .timestamp {
    color: #741;
}
#user-lists .list.bans .user .duration,
#user-lists .list.mutes .user .duration {
    color: #5A7;
}
#user-lists .list.bans .user .unban,
#user-lists .list.mutes .user .unmute,
#user-lists .list.ignored .user .unignore {
    color: #3C5;
}
/*
 ┌————————————————————┐
 │      Header        │
 └————————————————————┘
*/
.app-header {
    background:
        linear-gradient(rgba(139,35,168,.5), rgba(0,0,0,.5));
    background-size:cover !important;
    box-shadow: 0 0 20px #000;
}
#history-button {
    background: rgba(0, 0, 0, 0.3) !important;
}
i.icon.icon-time {
    filter: brightness(200%);
}
/*
 ┌————————————————————┐
 │      Footer        │
 └————————————————————┘
*/
#footer {
    background: linear-gradient(rgba(20,20,20,.5), rgba(0,0,0,.5)) !important;
    box-shadow: 0 0 20px #000;
}
#footer #playlist-button {
    background: var(--cyan-gradient);
}
#footer .chevron::before,
#footer .chevron::after {
    background-color: hsl(90,50%,50%) !important;
}
#footer #twitter-menu,
#footer #facebook-menu,
#footer #iosbadge-menu,
#footer #androidbadge-menu {
    display: none !important;
}
#footer #playlist-meta .bar-button {
    width: calc(100% - 53px) !important;
}
#footer-user .buttons .button {
    -webkit-box-shadow: inset 1px 0 0 0 #030;
    -moz-box-shadow: inset 1px 0 0 0 #030;
    box-shadow: inset 1px 0 0 0 #030;
}
#footer-user .buttons .button:hover {
    background: var(--seafoam-gradient) !important
}
#footer-user .buttons .button:hover,
#footer-user .buttons .button.inventory:hover {
    -webkit-box-shadow: inset 1px 0 0 0 #EEE;
    -moz-box-shadow: inset 1px 0 0 0 #EEE;
    box-shadow: inset 1px 0 0 0 #EEE;
}
#footer .back {
    background: var(--seafoam-gradient);
}
.icon-next-track {
    background-position: -70px -175px !important;
}
/*
 ┌————————————————————┐
 │     Left Menu      │
 └————————————————————┘
*/
#app-menu .list .item,
#app-menu .appbadges a::before {
    background-color: rgba(0,0,0,.6);
    box-shadow:
        inset 0 -1px 0 0 rgba(0,0,0,.5),
        inset 0 0 1px 2px rgba(255,255,255,.1),
        inset 0 0 hsla(120,50%,60%,.5);
    transition: box-shadow 0.25s ease-in-out;
}
#app-menu .list .item:hover {
    box-shadow:
        inset 0 -1px 0 0 rgba(0,0,0,.5),
        inset 0 0 1px 2px rgba(255,255,255,.2),
        inset -15px 0px hsla(120,50%,60%,.5);
    background: rgba(0, 0, 0, 0.6);
}
/*app things*/
#app-menu .android-badge,
#app-menu .iphone-badge {
    position: relative;
    width: 100%;
    height: 55px;
    cursor: pointer;
    background-size: 130px 40px;
    background-position: center;
    display: block !important;
}
#app-menu .appbadges a::before {
    content: "";
    float: left;
    width: 100%;
    height: 55px;
    transition: all 0.25s ease-in-out;
}
#app-menu .appbadges a[href*="ios-left-nav"]::before {
    content: "";
    float: left;
    width: 100%;
    height: 55px;
    transition: all 0.25s ease-in-out;
    position: relative;
    bottom: 78px;
}



#app-menu .appbadges a:hover::before {
    box-shadow:
        inset 0 -1px 0 0 rgba(0,0,0,.5),
        inset 0 0 1px 2px rgba(255,255,255,.1),
        inset 0 0 20px 30px hsla(120,40%,60%,.5);
}
/*not a good solution but it works*/
#app-menu .iphone-badge {
    top: -134px;
    margin-top: 0px;
}
#app-menu .android-badge {
    top: -56px;
    margin-top: 0px;
}
#app-menu .appbadges {
    padding-top: 0px;
    padding-left: 0px;
}
/* bottom buttons */
#app-menu .logout, #rcs-unload {
    color: hsl(0,10%,40%);
    border-color: hsl(0,50%,20%) !important;
    background-color: hsl(0,40%,10%) !important;
    transition: border .25s, box-shadow .25s, background .25s ease-in-out;
}
#app-menu .logout i {
    filter: hue-rotate(130deg) !important;
}
#app-menu .logout:hover, #rcs-unload:hover {
    border-color: hsl(0,50%,50%) !important;
    background-color: hsl(0,80%,10%) !important;
    box-shadow: 0 0 10px #000;
}
/*
 ┌———————————————————————┐
 │ Playlists and History │
 └———————————————————————┘
*/
#playlist-panel, #playlist-menu,
#history-panel {
    background: rgba(0,0,0,.75);
}
#playlist-panel #search,
.app-right .friends .header,
#playlist-import-panel .button {
    background: linear-gradient(#333, #222);
}
/* Give the arrow down a incrusted effect, so neat ! */
#playlist-button i.icon.icon-arrow-down {
    background: url(https://rawgit.com/Satskhi/EDTRCS/master/images/Icons/PlaylistDownButton.png) 0 / 30px no-repeat;
}
/* Selected */
#playlist-menu .menu .row.selected,
.media-list .row.selected,
.media-list .selected .actions,
#playlist-activate-button,
#playlist-activate-button.active,
#history-button.selected,
#playlist-import-panel .button:hover {
    background: linear-gradient(#36a43d, #2b8332) !important;
}
#playlist-activate-button i {
    filter: brightness(3) saturate(0);
}
#playlist-import:hover, #playlist-create:hover, #playlist-shuffle-button:hover, .pop-menu li:hover {
    background: #6da436 !important;
}
#playlist-edit-button:hover, .media-list .action.edit:hover {
    background: #00b5e6 !important;
}
#playlist-delete-button:hover, .media-list .action.delete:hover {
    background: #f46b40 !important;
}
.media-list .actions .action {
    height: 55px !important;
}
.media-list .action.related:hover {
    background: #aa74fe !important;
}
.media-list .action.move-to-bottom:hover {
    background: #c42e3b !important;
}
.media-list .action.move-to-top:hover {
    background: #92ac3a !important;
}
#playlist-import {
    background: linear-gradient(hsl(90,50%,30%), hsl(90,50%,25%));
}
#playlist-create {
    background: linear-gradient(hsl(90,50%,35%), hsl(90,50%,30%));
}
/* Letters Colors */
#playlist-menu .menu .row .count {
    color: hsl(90,50%,50%);
}
#playlist-menu .menu .row.selected .count,
#playlist-activate-button span,
.media-list.history .meta .timestamp {
    color: white;
}
/* Now Playing*/
.media-list .row.now-playing {
    border-bottom: #6da436 2px solid!important;
    background: #6da436 !important;
}
/* Drag & drop effect */
.drag-media-box {
    margin-top: 2px; margin-left: 2px;

    background: linear-gradient(hsla(90,50%,45%,.8), hsla(100,50%,40%,.8));
    border-radius: 0 5px 5px 5px;
}
.drag-media-corner {
    top: -2px; left: -2px;
}
#playlist-menu .menu .row.drag-over {
    background: hsla(210,80%,50%,.3);
}
#playlist-create.drag-over {
    background: linear-gradient(hsl(90,60%,40%), hsl(100,60%,40%)) !important;
}
#playlist-create .drop-zone {
    margin: 0;
    padding: 24px 27px;
}
/*
 ┌————————————————————┐
 │  Room settings     │
 └————————————————————┘
*/
#room-settings {
    background: transparent;
}
#room-settings-menu {
    background: rgba(15,15,15,.9);
}
#room-settings .general-settings {
    background: rgba(0,0,0,.9);
}
/* Buttons */
#room-settings .general-settings .option button,
#room-settings .general-settings .option.enabled>button.off {
    background: linear-gradient(#333, #222);
    color: #888;
}
#room-settings-menu .item.selected {
    background: var(--seafoam-gradient);
}
#room-settings-menu .item.selected:hover {
    background: var(--cyan-gradient);
}
#room-settings .general-settings .option button.off {
    background: var(--woot-green-gradient);
}
#room-settings .general-settings .option.enabled>button.on {
    background: var(--red-meh-gradient);
}
.app-right .friends .list .row.clickable .room,
#room-settings .general-settings a,
#room-settings .general-settings a:visited {
    color: rgba(40, 120, 60, 1) !important;
}
/*
 ┌————————————————————┐
 │  Profile pannel    │
 └————————————————————┘
*/
/* Left menu & avatar */
#user-menu {
    background: rgba(0,0,0,.7);
}
#user-menu .item:hover {
    background: var(--seafoam-gradient);
}
#user-menu .item:hover i {
    filter: brightness(3) saturate(0);
}
#user-menu .item.selected,
.user-content.communities button {
    background: var(--seafoam-gradient);
}
#user-menu .item.selected:hover,
.user-content.communities button:hover {
    background: var(--cyan-gradient);
}
#user-menu .avatar,
#user-inventory .avatars .grid .cell.selected .top {
    background: #1c7d27;
    background: -moz-linear-gradient(top,#1c7d27 0,#324d33 56%,#1a1a1a 73%,#444444 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#1c7d27),color-stop(56%,#324d32),color-stop(73%,#1a1a1a),color-stop(100%,#444444));
    background: -webkit-linear-gradient(top,#1c7d27 0,#324d33 56%,#1a1a1a 73%,#444444 100%);
    background: -o-linear-gradient(top,#1c7d27 0,#324d33 56%,#1a1a1a 73%,#444444 100%);
    background: -ms-linear-gradient(top,#1c7d27 0,#324d33 56%,#1a1a1a 73%,#444444 100%);
    background: linear-gradient(to bottom,#1c7d27 0,#324d33 56%,#1a1a1a 73%,#444444 100%);
}
/* Main panel */
#user-view {
    background: rgba(0,0,0,.7);
}
.tab-menu button {
    background: var(--seafoam-gradient);
    color: #CCC;
}
.tab-menu button:hover {
    background: var(--cyan-gradient);
    color: #EEE;
}
.tab-menu button.selected {
    background: var(--cyan-gradient);
}
.user-content .header {
    -webkit-box-shadow: inset 0 1px 0 0 #444;
    -moz-box-shadow: inset 0 1px 0 0 #444;
    box-shadow: inset 0 1px 0 0 #444;
}
.user-content .header span {
    color: #b6ce84;
}
/* Profile */
.user-content.profile .meta .blurb .arrow-up {
    border-right: 6px solid transparent;
    border-bottom: 6px solid #277531;
    border-left: 6px solid transparent;
}
.user-content.profile .meta .blurb .box {
    background: #277531;
}
.user-content.profile .meta .blurb input {
    background: #205d25;
    box-shadow: inset 0 0 0 1px #277531 !important;
}
.subscribe-button {
    background: linear-gradient(hsl(45,80%,30%), hsl(45,80%,25%));
}
.subscribe-button:hover {
    background: linear-gradient(hsl(45,80%,40%), hsl(45,80%,30%));
}
.experience .levels .level {
    background: linear-gradient(#666, #222);
}
.experience .levels .level.earned.ep .label,
.experience .levels .level.earned.pp .label {
    background: #2db13e;
}
.experience .boxes .box .label {
    background: #656f4e;
}
.experience .boxes .box:nth-child(2n+1) .label {
    background: #818a72;
}
.experience .levels .level.mystery .label span {
    color: #EEE;
}
.user-content.profile .notifications .row {
    background: var(--seafoam-gradient);
}
.user-content.profile .notifications .row .timestamp,
.user-content.profile .notifications .row i {
    filter: brightness(2.5) saturate(0);
}
.user-content.profile .notifications .row:hover {
    background: var(--cyan-gradient);
}
/* Inventory */
.user-content .grid .cell .top {
    background: #2c3528;
    background: -moz-linear-gradient(top,#2c3528 0,#20251c 56%,#131711 73%,#2f3e34 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#2c3528),color-stop(56%,#20251c),color-stop(73%,#131711),color-stop(100%,#2f3e34));
    background: -webkit-linear-gradient(top,#2c3528 0,#20251c 56%,#131711 73%,#2f3e34 100%);
    background: -o-linear-gradient(top,#2c3528 0,#20251c 56%,#131711 73%,#2f3e34 100%);
    background: -ms-linear-gradient(top,#2c3528 0,#20251c 56%,#131711 73%,#2f3e34 100%);
    background: linear-gradient(to bottom,#2c3528 0,#20251c 56%,#131711 73%,#2f3e34 100%);
}
.user-content .grid .cell:hover>.top {
    background: #215617;
    background: -moz-linear-gradient(top,#215617 0,#153311 56%,#141b0e 73%,#2b4225 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#215617),color-stop(56%,#153311),color-stop(73%,#141b0e),color-stop(100%,#2b4225));
    background: -webkit-linear-gradient(top,#215617 0,#153311 56%,#141b0e 73%,#2b4225 100%);
    background: -o-linear-gradient(top,#215617 0,#153311 56%,#141b0e 73%,#2b4225 100%);
    background: -ms-linear-gradient(top,#215617 0,#153311 56%,#141b0e 73%,#2b4225 100%);
    background: linear-gradient(to bottom,#215617 0,#153311 56%,#141b0e 73%,#2b4225 100%);
}
#user-inventory .badges .grid .cell {
    background: #212121;
}
#user-inventory .badges .grid .cell:hover {
    background: #333333;
}
#user-inventory .badges .grid .cell.selected {
    background: url(https://rawgit.com/Satskhi/EDTRCS/master/images/Icons/badgebghover.png);
    -webkit-box-shadow: inset 0 0 0 2px #93b726;
    -moz-box-shadow: inset 0 0 0 2px #93b726;
    box-shadow: inset 0 0 0 2px #93b726;
    cursor: default;
}
/* Store */
.user-content .grid .cell,
.user-content.communities .grid .cell {
    background: linear-gradient(#333, #222);
}
#user-store .badges .grid .cell:hover>.top {
    background: url(https://rawgit.com/Satskhi/EDTRCS/master/images/Icons/badgebghover.png);
}
/* Friends */
#user-friends .list .row {
    background: linear-gradient(rgba(40,40,40,.7), rgba(30,30,30,.7));
    border-radius: 5px;
}
#user-friends .list .row .buttons button,
#user-settings .container button {
    background: linear-gradient(rgb(50,50,50), rgb(40,40,40));
}
#user-friends .list .row .buttons button.positive {
    border-radius: 0 5px 0 0;
}
#user-friends .list .row .buttons button.negative {
    border-radius: 0 0 5px 0;
}
#user-friends .list .row .buttons button.positive:hover {
    background: var(--woot-green-gradient);
}
#user-friends .list .row .buttons button.negative:hover,
#user-settings .container button:hover,
.dialog.destructive .button.submit {
    background: var(--red-meh-gradient);
}
/* Settings */
#user-settings .container .item span,
#user-settings .container .cap .title,
#user-settings .container .cap .value {
    color: #CCC;
}
#user-settings .container .cap .slider .bar,
#volume .slider .line {
    background: linear-gradient(to right, rgb(37, 185, 97), rgb(196, 46, 59)) !important;
}
#user-settings .container .cap .slider .circle,
#volume .slider .circle {
    background: radial-gradient(#EEE, #AAA) !important;
}
/*
 ┌—————————————┐
 │ Room cards  │
 └—————————————┘
*/
.communities .grid .cell .bar {
    background: linear-gradient(#222,#111);
}
.communities .grid .cell .favorite {
    background: linear-gradient(#333,#222);
}
.communities .grid .cell,
.communities .grid .cell .meta {
    background: linear-gradient(#333,#222);
}
.communities .grid .cell:hover>.meta {
    background: linear-gradient(rgba(51, 51, 51, .8),rgba(34, 34, 34, .8));
}
.communities .grid .cell .meta .join {
    border-color: hsl(70,50%,30%) !important;
    background: linear-gradient(hsl(70,80%,10%), hsl(70,80%,9%)) !important;
    box-shadow: 0 0 0px #000;
}
.communities .grid .cell .meta .join:hover {
    border-color: hsl(70,50%,50%) !important;
    background: linear-gradient(hsl(70,80%,20%), hsl(70,80%,15%)) !important;
    box-shadow: 0 0 2px #000;
}
.communities .grid .cell .meta .now-playing,
.communities .grid .cell .meta .host {
    color: #AAA;
}
/*
 ┌————————————————————┐
 │   Dialogs modal    │
 └————————————————————┘
*/
#dialog-container {
    background: rgba(0,0,0,.5);
}
.dialog {
    background: #222;
}
.dialog-body {
    background: #111;
}
.dialog-frame .button.submit {
    background: var(--seafoam-gradient);
}
.dialog.no-submit .button.submit {
    background: #151515 !important;
    color: #555 !important;
}
.dialog .button.cancel {
    background: #3e1616 !important;
    color: #755;
}
.dialog .button.cancel:hover {
    background: #671e1e !important;
    color: #A55;
}
/*
 ┌————————————————————┐
 │ Green-ify xp & pp  │
 └————————————————————┘
*/
.icon-badge-pp, .icon-pp-small {
    filter: hue-rotate(285deg);
}
.experience .xp .bar,
#footer-user .info .meta div.bar {
    background: linear-gradient(#333, #444) !important;
}
.experience .xp .bar .progress,
#footer-user .info .meta div.bar .progress {
    background: var(--cyan-gradient) !important;
}

.icon.icon-arrow-down-blue,
.icon.icon-check-blue {
    filter: hue-rotate(285deg) !important;
}
/*
 ┌————————————————————————┐
 │ Green-ify notifcations │
 └————————————————————————┘
*/
#user-menu .item .count,
#friends-button.notify .request-count,
#footer-user .buttons .button .count,
#user-friends .tab-menu button .count,
.app-right .friends .header i {
    background: var(--seafoam-gradient);
    border: 1px solid hsla(0,0%,100%,.5);
}
#user-menu .item:hover .count,
#friends-button.notify:hover .request-count,
#footer-user .buttons .button:hover .count,
#user-friends .tab-menu button:hover .count,
.app-right .friends .header:hover i {
    background: var(--cyan-gradient);
}
/*
 ┌————————————————————————┐
 │  Toast Notifications   │
 └————————————————————————┘
*/
#toast-notifications .notification .left,
#toast-notifications .notification .right {
    background: linear-gradient(hsla(125,50%,35%,.8), hsla(125,50%,30%,.8));
}
/*
 ┌————————————————————————————┐
 │ Green-ify inputs & buttons │
 └————————————————————————————┘
*/
#filter-bar,
.dialog-input-background,
.input-background {
    -webkit-box-shadow: inset 0 0 0 1px #555 !important;
    -moz-box-shadow: inset 0 0 0 1px #555 !important;
    box-shadow: inset 0 0 0 1px #555 !important;
    background: linear-gradient(rgb(20,20,20), rgb(30,30,30)) !important;
}
.focused,
#playlist-panel #search-bar.focused {
    -webkit-box-shadow: inset 0 0 0 1px #6da436 !important;
    -moz-box-shadow: inset 0 0 0 1px #6da436 !important;
    box-shadow: inset 0 0 0 1px #6da436 !important;
    background: linear-gradient(rgb(30,30,30), rgb(40,40,40)) !important;
}
#playlist-panel #search-bar {
    -webkit-box-shadow: inset 0 0 0 1px #57832b !important;
    -moz-box-shadow: inset 0 0 0 1px #57832b !important;
    box-shadow: inset 0 0 0 1px #57832b !important;
}
#search-menu .bar-divider {
    background: #6da436;
}
#search-menu,
#search-menu li,
#user-lists .header .button.staff.selected {
    border-color: #6da436 !important;
}
#search-menu li:hover {
    background: #6da436;
}
#playlist-activate-button.active i,
#playlist-menu .menu .row .activate-button .icon.icon-check-purple {
    filter: saturate(0) brightness(2) !important;
}
#your-active-playlist i, #your-next-media i, .icon-staff,
.communities .grid .cell .favorite i:hover,
.communities .grid .cell .favorite.selected i {
    filter: hue-rotate(180deg) saturate(.5) brightness(1.3) !important;
}
/*
 ┌————————————┐
 │  Dropdown  │
 └————————————┘
*/
.dropdown {
    background: linear-gradient(hsl(220,5%,20%), hsl(220,5%,10%));
    box-shadow: inset 0 0 2px hsla(0,0%,100%,.5) !important;
}
.dropdown dt {
    box-shadow: inset -39px 0 0 hsla(0,0%,100%,.15) !important;
}
.dropdown.open, .dropdown.open dt, #dialog-user-role .role-menu:hover {
    font-weight: normal;
}
.dropdown dt .level {
    color: #eee !important;
}
.dropdown dd span {
    color: #AAA;
}
.dropdown dd .row:hover {
    background: var(--seafoam-gradient);
}
.dropdown dd .row:hover span {
    color: #FFF;
}
.dropdown dd {
    background: hsla(210,10%,10%,.8);
}
/*
 ┌————————————————————┐
 │  Playlist effect   │
 └————————————————————┘
*/
#footer #your-next-media,
#footer #your-active-playlist {
    transition: all .5s ease-in-out;
}
#footer #your-next-media,
#footer .bar-button:hover #your-active-playlist {
    opacity: 1;
}
#footer #your-active-playlist,
#footer .chevron,
#footer .bar-button:not(.no-playlist):hover #your-next-media {
    opacity: 0;
}
#footer #your-next-media {
    left: 0px !important; top: 0;
}
#footer #your-active-playlist {
    top: -54px;
}
#footer .bar-button:not(.no-playlist):hover #your-active-playlist {
    top: 0px;
}
#footer .bar-button:not(.no-playlist):hover #your-next-media {
    top: 54px;
}
/*
 ┌————————————————————┐
 │     Scrollbars     │
 └————————————————————┘
*/
::-webkit-scrollbar {
    background: rgba(0,0,0,0.3) !important;
    width: 7px; height: 7px;
}
::-webkit-scrollbar-thumb {
    background: hsl(100,40%,20%) !important;
}
.jspDrag {
    background: rgba(40, 120, 60, 0.65) !important;
}
.jspDrag:hover, .jspTrack .jspActive, .jspTrack .jspHover, .experience .levels .level.earned.avatar .label {
    background: rgba(40, 120, 60, 0.95) !important;
}



/*
 ┌————————————————————┐
 │       Ranks        │
 └————————————————————┘
*/
#chat .mention, #chat .mention:nth-child(2n+1),  #chat .mention.is-dj, #chat .mention.is-staff, #chat .mention.is-dj:nth-child(2n+1), #chat .mention.is-staff:nth-child(2n+1) {
    background: linear-gradient(to left, rgba(37,185,97,0.3) 0%,rgba(0,0,0,0.75) 100%) !important;
    border-left: rgba(40, 120, 60, 0.75) 3px solid !important;
}

/*
 ┌————————————————————┐
 │    Users-list      │
 └————————————————————┘
 Needs to be in this order &
 separated from roles to
 maintain correct priorities */
#user-lists .group.host {
    color: #31CE31;
    background: linear-gradient(to right, hsla(120,61%,30%,.5), hsla(120,61%,20%,.5)) !important;
}
#user-lists .group.host ~ .user:nth-child(2) span {
    color: #31CE31;
    /* Making the host list being all co-host color &
       only the first having host color allows room to
       have as much co-hosts they want */
}
/* Co-hosts */
#user-lists .group.host ~ .user span {
    color: #27A427;
}
/* Managers */
#user-lists .group.manager {
    color: #68B354;
    background: linear-gradient(to right, hsla(107,38%,40%,.5), hsla(107,38%,30%,.5)) !important;
}
#user-lists .group.manager ~ .user span {
    color: #68B354;
}
/* Bouncers */
#user-lists .group.bouncer {
    color: #68B354;
    background: linear-gradient(to right, hsla(107,38%,40%,.5), hsla(107,38%,30%,.5)) !important;
}
#user-lists .group.bouncer ~ .user span,
.is-bouncer .name {
    color: #68B354;
}
/* DJs */
#user-lists .group.dj {
    color: #68B354;
    background: linear-gradient(to right, hsla(107,38%,40%,.5), hsla(107,38%,30%,.5)) !important;
}
#user-lists .group.dj ~ .user span,
.is-dj .name, .is-staff .name { /* **Kind of** an rcs fix for subs on user-list */
    color: #68B354;
}
/* Gold sub */
#user-lists .icon-chat-subscriber + :not(.is-staff) span {
    color: #FB3;
}
/* Silver sub */
#user-lists .icon-chat-silver-subscriber + :not(.is-staff) span {
    color: hsl(220,25%,70%);
}
