/*
@import url("https://cdn.rawgit.com/pyralix/grp/1cea9178/cfg/WAM.css");
@import url("https://cdn.rawgit.com/pyralix/grp/67645f9d/cfg/Staff.css");
*/

/*
 ┌————————————————————┐
 │      Header        │
 └————————————————————┘
*/
.app-header {
    background:
        linear-gradient(rgba(139,35,168,.5), rgba(0,0,0,.5));
    background-size:cover !important;
    box-shadow: 0 0 20px #000;
}
#history-button {
    background: rgba(0, 0, 0, 0.3) !important;
}
i.icon.icon-time {
    filter: brightness(200%);
}
/*
 ┌————————————————————┐
 │      Footer        │
 └————————————————————┘
*/
#footer {
    background: linear-gradient(rgba(20,20,20,.5), rgba(0,0,0,.5)) !important;
    box-shadow: 0 0 20px #000;
}
#footer #playlist-button {
    background: var(--yellow-greener-gradient);
}
#footer .chevron::before,
#footer .chevron::after {
    background-color: hsl(90,50%,50%) !important;
}
#footer #twitter-menu,
#footer #facebook-menu,
#footer #iosbadge-menu,
#footer #androidbadge-menu {
    display: none !important;
}
#footer #playlist-meta .bar-button {
    width: calc(100% - 53px) !important;
}
#footer-user .buttons .button {
    -webkit-box-shadow: inset 1px 0 0 0 #030;
    -moz-box-shadow: inset 1px 0 0 0 #030;
    box-shadow: inset 1px 0 0 0 #030;
}
#footer-user .buttons .button:hover {
    background: var(--yellow-green-gradient) !important
}
#footer-user .buttons .button:hover,
#footer-user .buttons .button.inventory:hover {
    -webkit-box-shadow: inset 1px 0 0 0 #EEE;
    -moz-box-shadow: inset 1px 0 0 0 #EEE;
    box-shadow: inset 1px 0 0 0 #EEE;
}
#footer .back {
    background: var(--yellow-green-gradient);
}
.icon-next-track {
    background-position: -70px -175px !important;
}
