@import url("https://cdn.rawgit.com/pyralix/grp/1cea9178/cfg/WAM.css");
@import url("https://cdn.rawgit.com/pyralix/grp/67645f9d/cfg/Staff.css");

/*
 ┌————————————————————┐
 │     Variables      │
 └————————————————————┘
*/
html {
    --yellow-green-gradient: linear-gradient(hsl(125,50%,35%), hsl(125,50%,30%));
    --yellow-greener-gradient: linear-gradient(hsl(125,50%,50%), hsl(125,50%,40%));
    --red-meh-gradient: linear-gradient(rgb(196, 46, 59), rgb(138, 34, 43));
    --woot-green-gradient: linear-gradient(rgb(37, 185, 97), rgb(24, 115, 61));
}

/* Adding stuff from the json in case it didn't loaded *//*
.icon-room {
    background: none;
    width: 75px !important;
}
.icon-room:before {
    content: '';
    display: block;
    width: 75px; height: 30px;

    background: url('https://cdn.rawgit.com/pyralix/grp/3b58d5f2/Images/WFTB-Logo.png') center center / 75px no-repeat;
}
#room-name, #room-host {
    left: 89px !important;
}

#playback .background img {
    display: none;
}
#playback .background {
    background: url(https://cdn.rawgit.com/pyralix/grp/75c9ac02/Images/WFTB-Playback.png) !important;
    width: 521px; height: 292px;
    left: -19px;
    background-size: cover !important;
}

.room-background {
    background-image: url(https://cdn.rawgit.com/pyralix/grp/f6ca011a/Background.png) !important;
}

#room-name, #room-host, #now-playing-dj, #now-playing-media {
    color: #fff !important;
    font-weight: bold;
}

*/
/*
 ┌————————————————————┐
 │    TRANSPARENCY    │
 └————————————————————┘
*/
#history-button, #rs-skip-button,
#waitlist .user,
#app-menu .list,
.badge-box,
.thumb .background{
    background: transparent !important;
}
.app-right,
.app-right .friends,
#dashboard,
#footer, #footer .info, #footer-user .buttons .button:hover,
#app-menu,
#user-rollover, #user-rollover .info {
    /* Most of them are temporary */
    background: rgba(0,0,0,.75) !important;
}
/*
 ┌————————————————————┐
 │   User-rollover    │
 └————————————————————┘
*/
/*user rollover arrow fix*/
#user-rollover.expand.chat .arrow-down {
    border-left: 8px solid rgba(0, 0, 0, 0.3) !important;
}
#user-rollover:not(.chat) .arrow-down {
    border-top: 8px solid rgba(0, 0, 0, 0.75) !important;
}
#user-lists .list .user:hover {
    background: rgba(0,0,0,.8) !important;
}
#user-rollover .action {
    background: hsla(138, 40%, 10%, 0.7);
    box-shadow: inset 0 0 0 1px hsla(100,40%,20%,.8) !important;
}
#user-rollover .action:hover {
    background: hsla(133, 40%, 30%, 0.8) !important;
    box-shadow:
        inset 0 0 0 2px hsla(100,40%,40%,.5),
        inset 0 0 0 1px hsla(100,40%,20%,.8) !important;
}

/*
 ┌————————————————————┐
 │      Header        │
 └————————————————————┘
*/
.app-header {
    background:
        linear-gradient(rgba(139,35,168,.5), rgba(0,0,0,.5));
    background-size:cover !important;
    box-shadow: 0 0 20px #000;
}
#history-button {
    background: rgba(0, 0, 0, 0.3) !important;
}
i.icon.icon-time {
    filter: brightness(200%);
}
/*
 ┌————————————————————┐
 │      Footer        │
 └————————————————————┘
*/
#footer {
    background: linear-gradient(rgba(20,20,20,.5), rgba(0,0,0,.5)) !important;
    box-shadow: 0 0 20px #000;
}
#footer #playlist-button {
    background: var(--yellow-greener-gradient);
}
#footer .chevron::before,
#footer .chevron::after {
    background-color: hsl(90,50%,50%) !important;
}
#footer #twitter-menu,
#footer #facebook-menu,
#footer #iosbadge-menu,
#footer #androidbadge-menu {
    display: none !important;
}
#footer #playlist-meta .bar-button {
    width: calc(100% - 53px) !important;
}
#footer-user .buttons .button {
    -webkit-box-shadow: inset 1px 0 0 0 #030;
    -moz-box-shadow: inset 1px 0 0 0 #030;
    box-shadow: inset 1px 0 0 0 #030;
}
#footer-user .buttons .button:hover {
    background: var(--yellow-green-gradient) !important
}
#footer-user .buttons .button:hover,
#footer-user .buttons .button.inventory:hover {
    -webkit-box-shadow: inset 1px 0 0 0 #EEE;
    -moz-box-shadow: inset 1px 0 0 0 #EEE;
    box-shadow: inset 1px 0 0 0 #EEE;
}
#footer .back {
    background: var(--yellow-green-gradient);
}
.icon-next-track {
    background-position: -70px -175px !important;
}
